// Start Header and Notification btn
.header
    // Toggle Sidebar Icon
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    // Notifications Icon Dropdown Menu
    .dropdown.notifications-container
        i.fa.fa-bell.fa-lg.header-icon.toggle-notifications#notifications-btn(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu.notification-menu(aria-labelledby='notifications-btn')
            // Start Notification Content
            .notify-head
                | الاشعارات
                span 50
            .notify-content
                ul.list-unstyled
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | لديك رسالة من ...
                    li
                        i.fa.fa-money.fa-lg
                        | لديك نقود من ...
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | لديك رسالة من ...
                    li
                        i.fa.fa-thumbs-o-up.fa-lg
                        | لديك رسالة من ...
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | لديك رسالة من ...
            .notify-foot.text-center: a(href="#") عرض جميع الاشعارات
            // End Notification Content
    // FullScreen Icon
    i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
    // User Info Dropdown Menu           
    .dropdown.userInfoMenu-container
        .username#userInfoMenu(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.rounded-circle(src="img/avatar/avatar.jpg", alt="صورة المستخدم")
            span.user مصطفى على
            i.fa.fa-angle-down.fa-lg.user-angle-icon
        .dropdown-menu.userDropdownMenu.dropdown-menu-left(aria-labelledby='userInfoMenu')
            .userInfo
                h3 مصطفى على عبد العزيز
                p مدير التطبيق            
            .user-activities-list
                .activities-list.list-unstyled
                    .user-email-info
                        small.user-email.text-muted الايميل
                        h6.user-emailaddress mostafa0alii@gmail.com
                    .user-phone-info
                        small.user-phone.text-muted الهاتف
                        h6.user-phone-number 0201015558628+
                    .user-address-info
                        small.user-address.text-muted الهاتف
                        h6.user-fully-address المريوطية / الهرم
                    .user-social-link
                        small.user-social-text.text-muted التواصل الاجتماعى
                    .social-link-bar.text-left
                        // Facebook
                        a(href="facebook-link").btn.btn-circle.btn-secondary
                            i.fa.fa-facebook.fa-lg.fa-fw.facebook-icon
                        // Youtube
                        a(href="Youtube-link").btn.btn-circle.btn-secondary
                            i.fa.fa-youtube.fa-lg.fa-fw.youtube-icon
                        // LinkedIn
                        a(href="Linkedin-link").btn.btn-circle.btn-secondary
                            i.fa.fa-linkedin.fa-lg.fa-fw.linkedIn-icon
                        // Google Plus
                        a(href="GooglePlus-link").btn.btn-circle.btn-secondary
                            i.fa.fa-google-plus.fa-lg.fa-fw.googlePlus-icon
            hr
            .row.userLinks
                .col
                    .link-box
                        a(href="#")
                            i.fa.fa-gears.fa-lg.fa-fw.user-linkBox-icon.setting-icon
                            span.text-center الاعدادات
                .col
                    .link-box
                        a(href="#")
                            i.fa.fa-user.fa-lg.fa-fw.user-linkBox-icon.profile-icon
                            span.text-center البروفايل
                .col
                    .link-box
                        a(href="#")
                            i.fa.fa-power-off.fa-lg.fa-fw.user-linkBox-icon.logout-icon
                            span.text-center تسجيل الخروج
            
// End Header and Notification btn