// Start Header and Notification btn
.header
    // Toggle Sidebar Icon
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    // Notifications Icon Dropdown Menu
    .dropdown.notifications-container
        i.fa.fa-bell.fa-lg.header-icon.toggle-notifications#notifications-btn(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu.notification-menu(aria-labelledby='notifications-btn')
            // Start Notification Content
            .notify-head
                | الاشعارات
                span 50
            .notify-content
                ul.list-unstyled
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | لديك رسالة من ...
                    li
                        i.fa.fa-money.fa-lg
                        | لديك نقود من ...
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | لديك رسالة من ...
                    li
                        i.fa.fa-thumbs-o-up.fa-lg
                        | لديك رسالة من ...
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | لديك رسالة من ...
            .notify-foot.text-center: a(href="#") عرض جميع الاشعارات
            // End Notification Content
    // FullScreen Icon
    i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
    // User Info Dropdown Menu           
    .dropdown.userInfoMenu-container
        .username#userInfoMenu(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.rounded-circle(src="img/avatar/avatar.jpg", alt="صورة المستخدم")
            span.user مصطفى على
            i.fa.fa-angle-down.fa-lg.user-angle-icon
        .dropdown-menu.userDropdownMenu.dropdown-menu-left(aria-labelledby='userInfoMenu')
            .userInfo
                h3 مصطفى على عبد العزيز
                p مدير التطبيق
            hr
            ul.activities-list.list-unstyled
                li اضافت تعليق على منشور 1
                li قمت بانشاء منشور فى قسم "المنتجات"
            hr
            .row.userLinks
                .col
                    .link-box
                        i.fa.fa-gears.fa-lg.fa-fw.user-linkBox-icon.setting-icon
                        span.text-center الاعدادات
                .col
                    .link-box
                        i.fa.fa-user.fa-lg.fa-fw.user-linkBox-icon.profile-icon
                        span.text-center البروفايل
                .col
                    .link-box
                        i.fa.fa-power-off.fa-lg.fa-fw.user-linkBox-icon.logout-icon
                        span.text-center تسجيل الخروج
            
// End Header and Notification btn