.sidebar
    .logo-area.text-center تكنو
    ul.links-area.list-unstyled
        li: a(href="#") الاحصائيات العامة
        li
            a(href="#") النماذج
            ul.child-links.list-unstyled
                li: a(href="#") المدخلات
                li: a(href="#") مربع النصوص
                li: a(href="#") خانات الاختيار
                li: a(href="#") الراديو
