// Start Sidebar
.sidebar
    // Start Logo Area
    .logo-area.text-center تكنو
    // End Logo Area
    // Start Plugin Bar
    .plugin-btn-bar
        li.list-unstyled.text-lg-center
            button.btn-success 
                i.fa.fa-calculator
            button.refresh-btn.btn-dark 
                i.fa.fa-refresh
            button.btn-warning 
                i.fa.fa-camera
    // End Plugin Bar
    // Start Links Area
    ul.links-area.list-unstyled
        li
            a(href="#")
                | الاحصائيات العامة  
                i.fa.fa-dashboard.general-icon
        li
            a.toggle-submenu(href="#")
                i.fa.fa-caret-left
                | النماذج 
                i.fa.fa-edit.general-icon
            ul.child-links.list-unstyled
                li: a(href="#") المدخلات
                li: a(href="#") مربع النصوص
                li: a(href="#") خانات الاختيار
                li: a(href="#") الراديو

        li
            a.toggle-submenu(href="#")
                i.fa.fa-caret-left.toggle-submenu
                | التجميعات 
                i.fa.fa-edit.general-icon
            ul.child-links.list-unstyled
                li: a(href="#") loading
                li: a(href="#") breadcrumb
    // End Links Area
// End Sidebar