- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        include pug/layouts/styles
        
    body
        .page.home-page
            include pug/layouts/sidebar
            .content-area
                h1 #{pageTitle}