- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layouts/meta
        include pug/layouts/styles
        
    body
        .page.home-page
            include pug/layouts/sidebar
            .content-area
                include pug/layouts/header
                .content
                    h1 #{pageTitle}
        include pug/layouts/scripts