- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layouts/meta
        include pug/layouts/styles
        
    body
        .page.home-page
            include pug/components/settings box/settings-box
            include pug/layouts/sidebar
            .content-area
                include pug/layouts/header
                .container-fluid
                    .content
                        include pug/components/page-head
        include pug/layouts/scripts