.header{
    background-color: #fff;
    padding: 20px;
    direction: rtl;
    .toggle-sidebar{
        cursor: pointer;
    }
    .notifications-container{
        display: inline-block;
        margin-right: 20px;  
        .toggle-notifications{
            background-color: #ececec;
            padding: 10px;
            border-radius: 50%;
            color: #555;
            cursor: pointer;
        }   
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 0;
            border-radius: 10px;
            top: 10px !important;
            &.show{
                right: 0;
                margin-right: -125px;
                text-align: right;
                text-indent: 3px;
            }
            &:before{
                content: "";
                position: absolute;
                top: -20px;
                right: 11px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }
            .notify-head{
                background-color: #333;
                color: #fff;
                padding: 15px;
                span{
                    float: left;
                }
            }
            .notify-content{
                padding: 15px;
                ul{
                    margin: 0;
                    li{
                        padding: 10px;
                        margin-right: -35px;
                        transition: .5s;
                        &:hover{
                            cursor: pointer;
                            font-weight: bold;
                        }
                        i{
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 50%;
                            width: 45px;
                            height: 45px;
                            line-height: 26px;
                            text-align: center;
                            margin-left: 10px;
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
            .notify-foot{
                a{
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #eee;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }  
    }
}