.page{
    .sidebar{
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #292c33;
        color: #fff;
        padding: 15px;
        transition: .3s;
        &.no-sidebar{
            right: -250px;
        }
        .logo-area{
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 30px;
        }
        .plugin-btn-bar{
            li > button{
                margin: 10px 0;
                border-radius: 15%;
                display: inline-block;
                position: relative;
            }
        }
    
        // All Links
        .links-area{
            li{
                a{
                    color: #ccc;
                    padding: 10px 20px;
                    display: block;
                    transition: 0.3s;
                    &:hover{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            // Main Links
            > li > a {
                position: relative;
                color: #fff;
                &::before{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 10px;
                    height: 10px;
                   // border-radius: 50%;
                    //border: 3px solid #fff;
                    transform: translateY(-50%);
                }
                &:hover{
                    padding-right: 25px;
                }
                .fa-caret-left{
                    float: left;
                    position: relative;
                    top: 7px;
                    transition: 0.3s;
                    &.down{
                        transform: rotate(-90deg);
                    }
                }
            }
            // General Icons
            .general-icon{
                padding-left: 3px;
            }
            // Child Links
            .child-links{
                position: relative;
                display: none;
                &:before{
                    content: '';
                    position: absolute;
                    right: 3px;
                    top: 0;
                    width: 3px;
                    height: 100%;
                    background-color: #666;
                }
                a{
                    position: relative;
                    &:hover:before{
                        content: '';
                        position: absolute;
                        right: 3px;
                        top: 0;
                        width: 3px;
                        height: 100%;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}