.settings-box.hide-setting-box
    // Toggle Gear Icon
    .toggle-settings
        i.fa.fa-gear.fa-lg.fa-fw
    // Start Setting Content
    .settings-content
        // Start Color Option box
        .option-box.color-option-box
            h4 الالوان
        // Start Font Option box
        .option-box.font-option-box
            h4 الخطوط
        // Start Sidebar Option box
        .option-box.sidebar-option-box
            h4 القوائم الجانبية
    // End Setting Content