.settings-box {
    position: fixed;
    left: 0;
    top: 100px;
    width: 225px;
    height: 80%;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    z-index: 5000;
    padding: 20px;
    transition: 0.3s;
    // Setting Toggle Icon
    .toggle-settings{
        position: absolute;
        right: -45px;
        top: 40px;
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        font-size: 20px;
        cursor: pointer;
    }
    // Hide and Show Settings box
    &.hide-setting-box{
        left: -225px;
    }
}